absl-py==0.6.1
aplus==0.11.0
astor==0.7.1
astroid==2.1.0
astropy==3.1
autopep8==1.4.3
backcall==0.1.0
beautifulsoup4==4.6.3
bleach==2.1.4
bokeh==1.0.2
cachetools==3.0.0
certifi==2022.12.7
cffi==1.11.5
chardet==3.0.4
Click==7.0
cloudpickle==0.6.1
conllu==1.2.1
contextlib2==0.5.5
cycler==0.10.0
Cython==0.28.5
decorator==4.3.0
deepcut==0.6.1.0
defusedxml==0.5.0
dill==0.2.8.2
entrypoints==0.2.3
Flask==1.0.2
Flask-API==1.1
Flask-Cors==3.0.7
future==0.17.1
gast==0.2.1
grpcio==1.16.0
h5py==2.9.0
html5lib==1.0.1
idna==2.8
ipykernel==4.9.0
ipython==6.5.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
isort==4.3.4
itsdangerous==1.1.0
jedi==0.12.1
Jinja2==2.10
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==5.2.0
jupyter-core==4.4.0
kapteyn==2.3.1
Keras==2.2.2
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
kiwisolver==1.0.1
lazy-object-proxy==1.3.1
lxml==4.2.5
marisa-trie==0.7.5
Markdown==3.0.1
MarkupSafe==1.1.0
matplotlib==3.0.2
mccabe==0.6.1
mistune==0.8.3
mkl-fft==1.0.10
mkl-random==1.0.2
nbconvert==5.4.0
nbformat==4.4.0
nltk==3.4
notebook==5.7.0
numpy==1.16.0
olefile==0.46
opencv-python==3.4.3.18
packaging==18.0
pandas==0.23.4
pandocfilters==1.4.2
parso==0.3.1
patsy==0.5.1
pexpect==4.6.0
pickleshare==0.7.4
Pillow==5.3.0
plotly==3.4.2
progressbar2==3.39.2
prometheus-client==0.3.1
prompt-toolkit==1.0.15
protobuf==3.6.1
psutil==5.4.8
ptyprocess==0.6.0
pycodestyle==2.4.0
pycparser==2.19
Pygments==2.2.0
pylint==2.2.2
PyOpenGL==3.1.3b2
pyparsing==2.3.0
python-dateutil==2.7.5
python-utils==2.3.0
pytz==2018.7
PyYAML==3.13
pyzmq==17.1.2
qtconsole==4.4.1
requests==2.21.0
retrying==1.3.3
scikit-learn==0.19.2
scipy==1.2.0
seaborn==0.9.0
Send2Trash==1.5.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.11.0
statsmodels==0.9.0
tabulate==0.8.2
tensorboard==1.12.2
tensorflow==1.12.0
tensorflow-gpu==1.10.1
termcolor==1.1.0
terminado==0.8.1
testpath==0.3.1
tinydb==3.12.2
torch==1.0.0
torchvision==0.2.1
tornado==5.1.1
tqdm==4.28.1
traitlets==4.3.2
typed-ast==1.1.0
urllib3==1.24.1
vaex==1.0.0b8
vaex-astro==0.3.0
vaex-core==0.6.1
vaex-hdf5==0.3.0
vaex-server==0.2.1
vaex-ui==0.2.1
vaex-viz==0.3.2
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
widgetsnbextension==3.4.2
wrapt==1.10.11
